<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Додавання статті</h1>
    <form action="/blog/add" method="post">
        <input type="text" name="title" placeholder="Введіть назву статті" class="form-control"><br>
        <input type="text" name="anons" placeholder="Введіть анонс" class="form-control"><br>
        <textarea name="full_text" placeholder="Введіть весь текст" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Додати статтю</button><br>
    </form>
    
</div>

<div th:insert="blocks/footer :: footer"></div>
</div>
</body>>
</html>